body{
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    margin: 0px;
    padding: 0px;
    color: aliceblue;
    background-color: #011F3F;
    box-sizing: border-box;
}

.main-container{
    margin: 50px 200px;
    
}

.div-one{
    display: flex;
    justify-content: space-between;
    height: 20vh;
    padding: 10px 15%;
}

.div-one-control{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.div-one-control button{
    font-size: 20px;
    border-radius: 5px;
    border: none;
    background: none;
    cursor: pointer;
    font-style: "Press Start @p", cursive;
    color: aliceblue;
}

.div-one-control button:hover{
    background-color:#FEF2BF;
    color: black;
    transition: 0.7s;
}


img{
    width: 80%;
}

.player-image, .computer-image{
    height: 200px;
}


.div-three {
    display: flex;
    justify-content: space-between;
    margin: auto 9%;
    height: 200px;
}

.player-img{
    transform: scaleX(-1);
}

.shake {
    animation: vibrate 0.25s linear infinite;
}

.hide {
    visibility: hidden;
}

.show{
    visibility: visible;
}

@keyframes vibrate{
    0%{
        transform: translate(0, 0);
    }
    25%{
        transform: translate(0, 10px);
    }
    50%{
        transform: translate(0, 0);
    }
    75%{
        transform: translate(0, -10px);
    }
    100%{
        transform: translate(0, 0);
    }
}

.div-four{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
}

.div-four .choose{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.choose button{
    font-size: 400%;
    border-radius: 5px;
    border: none;
    background: none;
    cursor: pointer;
    font-style: "Press Start @p", cursive;
    color: aliceblue;
}

.choose button:hover{
    border: 1rem;
    border:aliceblue;
    background-color: rgba(255, 255, 255, 0.1);
    transition: 0.7s;
}